.dark_theme {
	--bg-color: rgb(7 9 113);
	--bg-color-rgb: 7, 9, 113;
	--invert-bg-color: rgb(236 241 244);
	--invert-bg-color-rgb: 236, 241, 244;
	--primary-color: rgb(23 208 42);
	--invert-primary-color: rgb(7 4 93);
	--secondary-color: rgb(22 143 3);
	--invert-secondary-color: rgb(10 62 194);
	--skeleton-bg-color: rgb(42, 44, 176);
	--invert-skeleton-bg-color: rgb(183, 183, 185);

	--primary-error-color: #ff0000;
	--secondary-error-color: #dc1818;
}
